
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "我是子页面";
}

<h2>今天天气不错哦！</h2>

<div id="divTest">
    @{ Html.RenderAction("PartialViewTest");}
</div>

@section Footer{
    <b>@@ Meowv 版权所有</b>    
}